name: CI
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        device:
          - umi
          - cmi
          - cas
    steps:
     - name: Space Check
       run: |
          df -hl
     - name: Remove useless package
       run: |
        docker rmi `docker images -q`
        sudo rm -rf /usr/share/dotnet /etc/mysql /etc/php /etc/sudo apt/sources.list.d
        sudo apt -y purge azure-cli ghc* zulu* hhvm llvm* firefox google* dotnet* powershell openjdk* mysql* php*
        sudo apt -y autoremove --purge
        sudo apt -y autoclean
        sudo apt clean
     - name: Maximize and mount build space
       uses: easimon/maximize-build-space@master
       with:
        root-reserve-mb: 1024
        swap-size-mb: 6144
        remove-dotnet: 'true'
        temp-reserve-mb: 1024
        remove-android: 'true'
        remove-haskell: 'true'
     - name: Display Configuration
       run: |
          echo "Compiler Device:${device}"
          echo "device=${device}" >> $GITHUB_ENV
       env:
          device: ${{ matrix.device }}
     - name: Display Configuration Second
       run: |
          echo "Compiler Device:${{ env.device }}"
     - name: Space Check
       run: |
          df -hl